@{
    ViewData["Title"] = "Contact";
    ViewData["email"] = "marcely@sbsoftware.com.br";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br />
<p><strong>Author: </strong>@ViewData["author"]</p>
<p><strong>Linkedin: </strong>@ViewData["linkedin"]</p>

<address>
    <strong>E-mail:</strong> <a href=@ViewData["email"]>@ViewData["email"]</a><br />
</address>
